.toggle_button{
    width: 30px;
    height: 24px;
    background: transparent;
    border:none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle_button:focus{
    outline: none;
}

.toggle_line1{
    width: 30px;
    height: 3px;
    background: white;
    margin-bottom: 3px;
    margin-top: 5px;
}

.toggle_line2{
    width: 20px;
    height: 3px;
    background: white;
    margin-bottom: 3px;
}
.toggle_line3{
    width: 10px;
    height: 3px;
    background: white;
    
}

